<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lucene Report</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>

<h1>Lucene Report</h1>
<p>
    Showing the top <span th:text="${settings.resultCount()}">100</span> results.
</p>
<p>
    Using the following query:
</p>
<pre th:text="${settings.query()}">Query goes here.</pre>

<ol class="list-group list-group-numbered">
    <li th:each="email, i: ${emails}" class="list-group-item">
        <div th:replace="lucene_report :: emailItem(email=${email}, rank=${i.count})"></div>
    </li>
</ol>

</body>

<div th:fragment="emailItem(email, rank)" th:if="${email != null}">
    <!--/*@thymesVar id="email" type="nl.andrewl.emaildatasetreportgen.EmailData"*/-->
    <div class="d-flex w-100 justify-content-between">
        <h3 class="mb-1" th:text="${email.subject()}"></h3>
        <small th:text="${email.date()}"></small>
    </div>
    <div th:if="${!email.tags().isEmpty()}">
        <span class="badge bg-primary me-1" th:each="tag: ${email.tags()}" th:text="${tag}"></span>
    </div>
    <div th:if="${!email.tagsViaReplies().isEmpty()}">
        <span class="badge bg-secondary me-1" th:each="tag: ${email.tagsViaReplies()}" th:text="${tag}"></span>
    </div>
    <details>
        <summary>Body</summary>
        <pre th:text="${email.body()}"></pre>
    </details>

    <div class="accordion" th:with="aId = ${'repliesAccordion_' + email.idHash()}" th:id="${aId}">
        <div class="accordion-item" th:each="reply, i: ${email.replies()}" th:with="cId = ${'collapse_' + email.idHash() + '_' + i.count}">
            <h2 class="accordion-header">
                <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        th:data-bs-target="${'#' + cId}"
                        th:text="${reply.subject()}"
                ></button>
            </h2>
            <div th:id="${cId}" class="accordion-collapse collapse" th:data-bs-parent="${'#' + aId}">
                <div class="accordion-body" th:insert="lucene_report :: emailItem(email=${reply}, rank=${null})"></div>
            </div>
        </div>
    </div>

</div>

</html>